// Fonts

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400&display=swap");

$primaryFont: "Lexend Deca", sans-serif;
$secondaryFont: "Big Shoulders Display", sans-serif;
// Fonts

// Colors
$BrightORange: hsl(31, 77%, 52%);
$DarkCyan: hsl(184, 100%, 22%);
$VeryDarkCyan: hsl(179, 100%, 13%);

$TransparentWhite: hsla(0, 0%, 100%, 0.75); // (paragraphs)
$VeryLightGray: hsl(0, 0%, 95%); //  (background, headings, buttons)
// Colors
